section.new-tweet {
  display: none;
}

/* Flex box and border for the footer */
section.new-tweet footer {
  border-top: 3px solid black;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* Flex box for the form */
section.new-tweet form {
  display: flex;
  flex-direction: column;
}

form footer output.counter {
  font-weight: bold;
}

.red-counter {
  color: red;
}

/* Styling for the tweet buttom */
section.new-tweet footer button {
  background-color: blue;
  color: #ffffff;
  font-family: 'Bungee', sans-serif;
}

/* Styling for the textarea of the form */
#tweet-text {
  padding-top: 10px;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
}

section.new-tweet form label {
  font-weight: bold;
}


/* Black box around the tweet */
article.tweet {
  margin: 50px 0 15px 0;
  padding: 20px;
  border: 3px solid black;
}

form span {
  color: red;
  border: 3px solid red;
  display: none;
  padding: 2px;
}

article.tweet header div.user div img {
  padding-right: 10px;
}

/* Flex box for (name avatar) and handle */
article.tweet div.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article.tweet:hover {
  box-shadow: 5px 10px #888888;
}

header p {
  margin-bottom: 10px;
  border-bottom: 3px solid black;
}

article.handle {
  box-shadow: 5px 10px #888888;
  width: 90%;
}

article.tweet footer span {
  font-size: .6em;
}

/* Flex box for footer items */
article.tweet footer div {
  display: flex;
  justify-content: space-between;
}
